body {
	font:12pt Helvetica, Verdana, sans-serif;
}

h1 {
	margin:0.5em 0;
}

div#menu,div#pm-menu,.caret,div#loginbox,
div#projectselector,div#showtask,
div#search,div#comments a img,
input,div#permissions,
select,div#permslink,div#massopsactions,
td#taskrange a,span#navigation,
div#deps form,div#actionbuttons,
div#comments form,td#numbers a,
td#numbers strong,ul#submenu,
.DoNotPrint,div#events form, div#taskinfo,
#anonopen, .ttcolumn, .attachments, fieldset {
	display:none !important;
}

table#tasklist_table {
	border-collapse:collapse;
	width:100%;
}

a {
	color:#000;
	text-decoration:none;
}

p.comment a:after {
	content:" (" attr(href) ") ";
}

table#tasklist_table thead th {
	border:solid 1px #000;
}

table#pagenumbers td#numbers {
	text-align:right;
	padding:0 5px 0 0;
}

p.comment {
	margin-left:1em;
	border-left:2px solid #000;
	padding:0.5em 1em;
}

p#footer {
	text-align:center;
	margin:2em 0 0;
}

div#taskdetailsfull {
	border-left:1px dotted gray;
	margin:1em 0 1em -5px;
	padding:0.5em;
}

div#taskdetailsfull label {
	display:block;
	font-weight:700;
	font-size:1.2em;
	margin-bottom:0.7em;
}

div#fineprint {
	font-size:0.7em;
	margin-bottom:0.5em;
}

div#taskdetails h2 {
	margin-bottom:0;
}

div#taskdetails th {
	text-align:left;
}

div#comments {
	margin-top:0.8em;
	padding-top:0.5em;
	border-bottom:1px dotted gray;
	page-break-inside:auto;
}

div#taskfields {
	border-right:1px dotted gray;
}

table#pagenumbers {
	width:100%;
}

table#tasklist_table td {
	border:dotted 1px gray;
	padding:0.1em 0.2em;
}

dl.roadmap {
    margin:1em;
}

dl.roadmap dd {
    border:dotted 1px gray;
    margin:0.5em 1em 0.5em 2em;
    padding:0.1em 0.5em;
}

dl.roadmap dt {
    border:solid 1px gray;
    margin:0.5em 3em -1em 0;
    padding:0.1em 0.5em;
    background:white;
    position:relative;
    background:white;
}

/* Dokuwiki {{{ */
.code a {
	text-decoration:none;
}

div#taskdetailstext h1,.commenttext h1 {
	border-bottom:dotted 1px black;
}

div#taskdetailstext h2, .commenttext h2 {
	border-bottom:dotted 1px black;
	padding-left:0.2em;   
	margin:1em 0.5em 0.5em;
}

div#taskdetailstext h3, .commenttext h3 {
	padding-left:0.2em;   
	margin:1em 1.5em 0;
}


div#taskdetailstext h4, .commenttext h4,div#taskdetailstext h5, .commenttext h5 {
	font-size:1em;    
	padding-left:0.3em;   
	margin:1em 2.5em 0;
}

div.level2 {
	margin-left:1em;
}

div.level3 {
	margin-left:2em;
}

div.level4,div.level5 {
	margin-left:3em;
}

/* inline tables */
table.inline {
	background-color: #ffffff;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.inline th {
	padding: 3px;
	border: 1px solid #8cacbb;
	background-color: #dee7ec;
}

table.inline td {
	padding: 3px;
	border: 1px solid #8cacbb;
}

.leftalign{
	text-align:left;
}

.centeralign{
	text-align:center;
}

.rightalign{
	text-align:right;
}

.interwiki,.urlextern {
	padding-left:17px;
	background-repeat:no-repeat;
}

.urlextern {
	background-image:url(link_icon.gif);
}

.fn_top {
	font-size:0.8em;
	vertical-align:top;
}

.footnotes {
	font-size:0.8em;
	border-top:solid 1px #ccc;
}

blockquote {
	border:dotted 1px gray;
	border-left: 2px solid #8cacbb;
	padding:0 3px 0 0.3em;
	margin-left: 0.5em;
	background:white;
}

blockquote p  {
	padding:0;
}

blockquote blockquote {
	border:0;
	border-left: 2px solid #8cacbb;
}

.search_hit {
	background:#FF9;
}

.fade {
	color:gray;
}

.code .br0 {color:#6c6;}
.code .es0 {color:#009;font-weight:700;}
.code .kw1 {color:#b1b100;}
.code .kw2 {color:#000;font-weight:700;}
.code .kw3 {color:#006;}
.code .kw4 {color:#933;}
.code .me0 {color:#060;}
.code .nu0 {color:#c6c;}
.code .re4 {color:#099;}
.code .sc0 {color:#0bd;}
.code .sc1 {color:#db0;}
.code .sc2 {color:#090;}
.code .st0 {color:red;}
.code .co1,.code .co2,.code .coMULTI {color:gray;font-style:italic;}
.code .kw5,.code .re0,.code .re1,.code .re2 {color:#00f;}

.acronym {cursor:help;}
/* }}} */