/* customization example. Use for color, fontawesome icons, background and border-color settings only, avoid layout changes. */

/*
body.p1 #title {background:#060;}
body.p1 #pm-menu {border-color:#090;}
body.p1 #pm-menu-list a.active{ border-color:#090;}
body.p1 #pm-menu-list a.active,
body.p1 #menu-list a.active{ background-color: #090;}
body.p1 #mysearches{border-color: #090;}
*/

/* styling the id with the severity color enables you to remove the severity column (see admin and project settings) the view for more overview. */
tr.severity5, tr.severity5 .task_severity, tr.severity5 .task_id{background: #f96 linear-gradient(#f96, #f85) repeat scroll 0 0;}
tr.severity4, tr.severity4 .task_severity, tr.severity4 .task_id {background: #fe0 linear-gradient(#fe0, #fc0) repeat scroll 0 0;}
tr.severity3, tr.severity3 .task_severity, tr.severity3 .task_id {background: #fe9 linear-gradient(#fe9, #fd9) repeat scroll 0 0;}
tr.severity2 .task_severity, tr.severity2 .task_id {background: #eee linear-gradient(#fff, #eee) repeat scroll 0 0;}

/* highly experimental! may move to default css if finshed */
#tasklist_table tbody tr td {padding-top:0px; padding-bottom:0px;border-top:none; border-bottom:1px dotted #ccc;vertical-align:middle;}
th.tasktype, th.severity, th.priority {width:20px;max-width:20px;overflow:hidden;}

tr .typ1, tr .typ2, tr .typ3, tr .typ4, tr .typ5,
tr .sev1, tr .sev2, tr .sev3, tr .sev4, tr .sev5,
tr .pri1, tr .pri2, tr .pri3, tr .pri4, tr .pri5
{ visibility:hidden;width:20px;max-width:20px;white-space:nowrap;text-overflow:hidden;font-size:16px;}

tr .typ1:before { visibility:visible;content:"\f188";font-family:fontawesome;color:#900;} /*fa-bug*/
tr .typ2:before { visibility:visible;content:"\f06b";font-family:fontawesome;color:#390;} /*fa-gift*/
tr .typ3:before { visibility:visible;content:"\f19d";font-family:fontawesome;color:#000;} /*fa-graduation-cap*/
tr .typ4:before { visibility:visible;content:"\f111";font-family:fontawesome;color:#009;} /*fa-circle*/

tr .sev1:before { visibility:visible;content:"";font-family:fontawesome;color:#fff;} /**/
tr .sev2:before { visibility:visible;content:"";font-family:fontawesome;color:#fff;} /**/
tr .sev3:before { visibility:visible;content:"";font-family:fontawesome;color:#cc0;} /**/
tr .sev4:before { visibility:visible;content:"\f06d";font-family:fontawesome;color:#c60;} /*fa-fire*/
/* tr .sev5:before { visibility:visible;content:"\f1e2";font-family:fontawesome;color:#600;} */ /*fa-bomb*/
tr .sev5:before { visibility:visible;content:"\f0e7";font-family:fontawesome;color:#600;} /*fa-bolt*/

tr .pri1:before { visibility:visible;content:"\f236";font-family:fontawesome;color:#ccc;} /*fa-bed*/
tr .pri2:before { visibility:visible;content:"";font-family:fontawesome;color:#ccc;}
tr .pri3:before { visibility:visible;content:"\f04b";font-family:fontawesome;color:#f90;font-size:10px;} /*fa-forward*/
tr .pri4:before { visibility:visible;content:"\f04b\f04b";font-family:fontawesome;color:#c60;font-size:10px;} /*fa-forward*/
tr .pri5:before { visibility:visible;content:"\f04b\f04b\f04b";font-family:fontawesome;color:#900;font-size:10px;} /*fa-forward*/
