/* ugly rough experimental development css */

.kanbanboard {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	gap: 20px 10px;
	min-height:690px;
}
.col {
	background-color:#eee;
	border:1px solid #ccc;
	width: 300px;
	border-radius:4px;
	min-height: 690px;
	flex: 0 0 auto;
	position:relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: hidden;
}
.colname {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 3px;
	border-bottom: 1px solid #ccc;
	background-color:#fc9;
	padding:0.2em;
	vertical-align: middle;
	align-items: baseline;
	box-sizing: border-box;
	flex: 0 0 auto;
}
.colname > span:first-child {
	flex: 0 0 auto;
	border-radius: 4px;
	background-color:#fff;
	padding:0 0.2em;
	min-width:2em;
	text-align: right;
	line-height: 2em;
}
.colname > span:nth-child(2) {
	flex: 1 1 100%;
	text-align:center;
	line-height: 2em;
}
.col label{
	flex: 0 0 auto;
	background: rgba(0,0,0,.3);
	color: #000;
	padding:0.2em 0.4em;
	cursor:pointer;
	border-radius:3px;
}
.col .colname:hover label {
	background: rgba(255,255,255,.6);
	color: #000;
}
.col .colname label:hover {
	color: #fff;
	background: #333;
}
.task {
	margin:0.5em;
	border:1px solid #ccc;
	background-color:#fff;
	padding:0.2em;
	border-radius:4px;
}
.task[draggable="true"]:hover {
	background-color: #ff6;
	cursor: grab;
}
.collist {
	flex: 1 1 auto;
	padding: 1.5em 0; /* to ensure open area for element drop */
}
.col.collapsed {
	position: relative;
	width: calc(2em + 4px);
}
.col.collapsed > .colname {
	transform-origin:top left;
	transform:rotate(90deg);
	position: absolute;
	top: 0;
	left: 100%;
	border-bottom: none;
	border-right: 1px solid #ccc;
	width: 301px;
}
.col.collapsed > .collist {
	display: none;
}
.kanbanboard .task .assignedto {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}
.kanbanboard .task .assignedto a {
	font-size: 0em;
	user-select: none;
}
.kanbanboard .task .assignedto img {
	width:24px;
	height:24px;
	border-radius:50%;
	user-select:none; /* prevent user image be dragged instead of task */
	display: inline-block;
}
.typ1,
.typ2,
.typ3,
.typ4,
.typ5,
.typ6 {
	font-family:"Font Awesome 6 Free";
	font-variant: normal;
	font-weight: 900;
	font-style: normal;
}
/* demo coloring for some basic kanban volumns */
.status1 {background-color:#999;}
.status2 {background-color:#cf0;}
.status3 {background-color:#fc0;}
