div#menu input  {height:1.2em;}
div#menu button, div#pm-menu button,div#pm-menu select {height:1.6em}
div#menu ul a {line-height:2em;}
div#search {position:static;}
div#toolboxmenu {position:static;}
