@import url("../../javascript/jscalendar/calendar-system.css");

body {
	background:#F5F9FD;
	color:#000;
	font:12px Helvetica, Verdana, sans-serif;
	margin:0;
	padding:0;
}

table {
	font-size:1em !important;
}

img {
	border:none;
}

img.depimage, object.depimage {
	border:solid 2px black;
	margin:0 0.5em;
	background:white;
}

a {
	text-decoration:none;
}

ul.reports {
	margin:0.5em 0;
}

div#votes {
	padding-bottom:0.5em;
}

div#showvotes {
	position:absolute;
	background-color:#e6eef6;
	color:#000;
	border:2px ridge #000;
	margin-top:2px;
	width:25em;
	max-height:20em;
	overflow:auto;
	padding:5px;
}

div#taskfields th, div#taskfields td {
	white-space:nowrap !important;
}

table.list thead th {
	text-align:left;
}

/* fancy dual selects */
.double_select td {
	vertical-align: middle;
	text-align: center;
}

.double_select select {
	width: 12em;
}
.double_select .c1 select {
	height: 24em;
	width: auto;
	min-width: 12em;
}
.double_select .c3 select {
	height: 20em;
	width: auto;
	min-width: 12em;
}
.double_select .c3 button {
	height: 1.5em;
	width: 12em;
}

/* offsite is only used for the link to the Flyspray homepage */
a.offsite:after {
	content:"\2197";
}

h1 {
	font-size:160%;
}

h1#title {
	padding:0;
	margin:0;
}

h2 {
	font-size:150%;
}

div.box h2 {
	margin-left:0.5em;
}

/* the main title; h1 alone is also used in the popup windows. */
h1#title a {
	display:block;
	width:100%;
	background:#47617b url("title.png") no-repeat;
	height:45px;
	margin:0;
	padding:1ex 0;
	text-indent:-9000px;
}

h2.summary {
	margin:0;
	font-size:115%;
	font-weight:700;
	padding:0.3ex 1ex;
}

h4 {
	margin-bottom:-10px;
	padding:0;
}

p {
	margin:1ex 0;
	padding:0.5ex 0.5em;
}

form {
	display:inline;
	margin:0;
	padding:0;
}

input {
	margin:0;
}

input.text,input.password,input.file,textarea,select,button {
	background-color:#eef7ff;
	color:#03008f;
	border:1px solid gray;
	font-size:0.9em;
	margin:2px;
	vertical-align:middle;
}

textarea {
	font-size:1em;
}


input.required {
	border:solid 2px red;
}

select {
	border:1px solid gray;
}

textarea {
	width:99%;
}

/* labels are used nearly in every form */
div#taskdetailsfull label, td label {
	text-align:right;
	display:block;
	margin-right:8px;
	font-weight:700;
	white-space:nowrap;
}

fieldset#events td label, div#users td label {
	display:inline;
	text-align:left;
	margin-right:0;
}

label.notable {
	display:inline;
}

label.left {
	padding:0 0.5em 0 0.3em;
}

label {
	font-weight:700;
	white-space:nowrap;
	padding:0 0.3em 0 0.5em; /* by default the inputbox is right */
}

label.text {
	font-weight:400;
}


/* div.box and p.box is used for areas that only administrators can use
p.box for instance for adding comments
table.box serves the same purpose
 table.login is the framework for the login form at the bottom of a page
 table.userlist is found in the user&groups section */
div.box,p.box,table.userlist {
	border:1px solid #ccc;
	background-color:#e6eef6;
	color:#000;
	margin:1em 0 30px;
	padding:0;
}

table.userlist {
	border-collapse:collapse;
	width:98%;
}

table.userlist td,table.userlist th {
	border:1px solid #ccc;
	padding:0.1em 0.2em;
}

table.userlist td.imgcol {
	padding:0 0.2em;
}

div#menu {
	margin:0;
	padding:0;
}

div#menu input.text,div#menu input.password,div#menu button {
	display:inline;
	margin:0;
	padding:0 3px;
}

div#menu a {
	padding:4px 0.4em 3px 25px;
}

div#menu button {
	margin-left:3px;
}

div#edit_add_comment {
	margin-top:1em;
}

/* The div containing the main menu */
div#menu {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#e6eef6;
	height:1.5em;
	vertical-align:middle;
	margin:0;
	padding:2px 0 1px 0.4em;
}

div#pm-menu {
	border-bottom:1px solid #ccc;
	background:#e6eef6;
	height:1.5em;
	vertical-align:baseline;
	margin:0;
	padding:2px 0 1px 0.5em;
}

div#menu a, div#pm-menu a {
	background-repeat:no-repeat;
	background-position:6px center;
	font-weight:400;
}

div#menu a.active {
	background-color:#fff;
}

div#projectselector {
	float:left;
	margin-top:-0.2em;
}

div#menu div#projectselector button {
	margin-bottom:2px;
}

div#projectselector option[selected] {
	font-weight:bold;
}

div#menu ul a, div#pm-menu ul a {
	line-height:1.4em;
	padding:4px 0.4em 3px 25px;
}

ul#menu-list, ul#pm-menu-list {
	list-style:none;
	margin:0;
	padding:0;
	display:inline;
}

ul#menu-list li, ul#pm-menu-list li {
	display:block;
	float:left;
	height:1.4em;
	border-left:solid 1px black;
}

ul#menu-list li {
	position:relative;
}

.hide {
	display:none;
	visibility:hidden;
}

ul.comment_changes {
    margin:0 2em;
	padding:0;
    color:gray;
}

ul.comment_changes li {
	margin:0;
}

div#mysearches {
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
	width:15em;
	overflow:auto;
	max-height:25em;
	display:none;
	position:absolute;
	left:0;
	top:1.4em;
	margin-top:1px;
	z-index:5;
	padding:2px 5px 3px;
}

div#mysearches table {
	border-collapse:collapse;
	width:100%;
}

div#menu div#mysearches a {
	padding:0 0 0 0.2em;
	font-weight:bold;
}

div#mysearches table tr {
	border-bottom:dotted 1px gray;
	text-align:left;
	padding:0.1em 0;
}

table#mysearchestable td {
	vertical-align:middle;
}

div#mysearches table tr.last {
	border:0;
}

ul#menu-list li.first, ul#pm-menu-list li.first {
	border:0;
}

/* Links in menus */
#newtasklink, #anonopen {
	background:url(menu/newtask.png) no-repeat;
}

#registerlink {
	background:url(menu/kdmconfig.png) no-repeat;
}

#forgotlink {
	background:url(menu/help.png) no-repeat;
}

#profilelink {
	background-image:url(menu/editmydetails.png)
}

#reportslink {
	background-image:url(menu/reports.png)
}

#editmydetailslink {
	background-image:url(menu/editmydetails.png);
}

#lastsearchlink {
	background-image:url(menu/search.png);
}

#logoutlink {
	background-image:url(menu/logout.png);
}

#roadmaplink {
	background-image:url(menu/date.png);
}

#homelink {
	background-image:url(menu/kmenuedit.png);
}

#toplevellink {
	background-image:url(menu/folder_home.png);
}

#optionslink {
	background-image:url(menu/options.png);
}

#projectslink {
	background-image:url(menu/projectprefs.png);
}

.pendingreq {
	padding:0;
}

td.searches_delete {
	width:16px;
}

/* div#showtask contains the form to search for a specific task number */
div#showtask {
	text-align:right;
	position:absolute;
	right:0.5em;
	top:0.5em;
}

/* The paragraph containing the search form */
div#search {
	margin-bottom:1em;
	border:1px solid gray;
	background-color:#e6eef6;
	padding:0.4em 0.5em;
	position:relative;
}

div#search input.text,div#search button {
	margin:0;
}

div#search label.multisel {
	position:absolute;
	margin-left:-0.3em;
}

div.search_select {
	float:left;
}

div#search input.users {
	margin-top:1.2em;
}

div#search button {
	color:#FFF;
	margin-left:0;
}

div#search input#searchtext {
	 width:30em;
}

div#search fieldset {
	padding:0 0.5em 0.5em;
	margin:0.3em 0;
}

div#search img {
	vertical-align:middle;
}

span#searchstate {
	font-weight:bold;
}

span#searchstate a {
	color:#000;
}

div#search select {
	margin-top:1.3em;
}

div#search fieldset legend {
	padding:0 2px;
}

div.dateselect {
	margin:5px 0 0;
}

span.save_search {
	position:absolute;
	right:0.5em;
}

div#tasklist {
	border:1px solid gray;
	color:#000;
	background-color:#e6eef6;
}

div#tasklist del, div#tasklist a.closedtasklink {
	text-decoration:none;
}

/* The table listing tasks on the main page */
div#tasklist table {
	clear:both;
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

div#tasklist table th {
	text-align:left;
	border-bottom:1px solid #ccc;
	padding:2px 1em 2px 2px;
}

div#tasklist table td {
	border-bottom:1px solid #CCC;
	padding:2px 1ex 2px 2px;
	vertical-align:middle;
}

div#tasklist table tr input {
	margin-top:-0.3em;
}

div#tasklist table td.taskdate {
	text-align:left;
	white-space:nowrap;
}

div#tasklist table td.progress {
	text-align:center;
}

table#pagenumbers {
	width:100%;
}

table#pagenumbers td#taskrange {
	padding:0 0 0 5px;
}

table#pagenumbers td#numbers {
	text-align:right;
	padding:0 5px 0 0;
}

/* table.list is any table holding lists like resolutions, ... */
table.list th,table.list td {
	padding-right:2em;
}

table.toplevel th {
	text-align:left;
	padding:0 1em 0 0.5em;
	width:9em;
}

table.toplevel ul {
	margin:0;
	padding:0;
	list-style:none;
}

/* Area containing all details to a given task */
div#taskdetails {
	background-color:#e6eef6;
	border:1px solid #000;
	margin:2em 0 0 0;
	width:99.7%;
}

div#taskdetails table th {
	font-weight:700;
}

table#tasks_related {
	width:30em;
	margin-bottom:0.5em;
}

table#duplicate_tasks {
	width:30em;
	margin-bottom:0.5em;
	margin-left:0.5em;
}

table th.pm-buttons {
	width:10em;
}

/* div#content is a generic container for anything but the title and
the footer paragraph */
div#content {
	margin:0 5px;
	padding:0.5em 5px 0 5px;
}

/* Powered by Flyspray */
p#footer {
	background-color:#47617b;
	border:3px double #FFF;
	color:#fff;
	text-align:center;
	clear:both;
	margin:20px 0.5em 0;
	padding:5px;
}

/* used solely for several browsers do not support [type="submit"] selectors. */
button {
	color:#fff;
	background:url(button.png) repeat-x #838ab5;
	border:1px solid #000;
	font-weight:700;
}

button:hover {
	background-image:url(button-over.png);
	cursor:pointer;
}

/* div.redirectmessage is used in modify.inc.php when you change things and are redirected
to the index or details page */
div.redirectmessage {
	border:1px solid #CCC;
	background-color:#e6eef6;
	text-align:center;
	padding:1ex;
}

/* form#chgpassword, form#newgroup are used in the popup windows*/
form#chgpassword h1,form#newgroup h1 {
	font-size:110%;
	margin:2px;
	padding:0;
}

/* .buttons used for table cells containing buttons */
.buttons {
	text-align:center;
}

form#newgroup strong {
	color:red;
}

div.preview {
	border:solid 1px #47617b;
	border-left-width:0.2em;
	margin-bottom:0.5em;
	padding-left:0.2em;
}

.tabentry {
	border-bottom:1px solid #ccc;
	margin:2px 1em;
}

/* This is the division that keeps the buttons to modify comments (delete, edit) */
div.modifycomment {
	float:right;
	width:20em;
	text-align:right;
}

div.modifycomment p {
	display:inline;
	margin:0;
	padding:0;
}

strong.reopened {
	background:white;
	border:red solid 1px;
	padding:0.1em 0.2em;
}

/* Some generic classes; severity classes are used for colour
indication of severities*/
.severity1 {
	background-color:#fff5dd !important;
	color:#000;
}

.severity1:hover {
	background-color:#ffe9b4 !important;
	color:#000;
}

.severity2 {
	background-color:#ecdbb7 !important;
	color:#000;
}

.severity2:hover {
	background-color:#efca80 !important;
	color:#000;
}

.severity3 {
	background-color:#f5d5c6 !important;
	color:#000;
}

.severity3:hover {
	background-color:#f7b390 !important;
	color:#000;
}

.severity4 {
	background-color:#ffd5d1 !important;
	color:#000;
}

.severity4:hover {
	background-color:#ffb2ac !important;
	color:#000;
}

.severity5 {
	background-color:#f3a29b !important;
	color:#000;
}

.severity5:hover {
	background-color:#f3867e !important;
	color:#000;
}

#tasklist_table td {
	cursor:pointer;
}


/* .fineprint is merely used for the details about when a task has
been created and changed (in the details pages) */
div#fineprint {
	font-size:smaller;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin:0 5px 0 5px;
}

table.history {
	width:100%;
	background-color:#e6eef6;
	color:#000;
	margin:1em 0;
	padding:0 1em;
}

table.history td {
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	padding-left:5px;
}

div#intromessage {
	padding:0 1px 0.5em 1px;
}

div.clear {
	clear:both;
}

map#formselecttasks {
	margin:0;
}

a.closedtasklink {
	text-decoration:line-through;
}

div#taskfields {
	margin:10px 0 8px 0;
}

td#taskfieldscell {
	border-right:1px solid #ccc;
	padding:0 0.2em;
}

div#taskfields table {
	margin:0 auto;
}

div#taskfields th {
	text-align:right;
	padding-right:0.5em;
}

tr.votes td, tr.votes th {
	padding-top:5px;
}

div#taskdetailsfull {
	margin:25px 0 5px 0;
	text-align:left;
	padding:7px 9px;
}

div#taskdetailsfull label {
	text-align:left;
}

div#taskinfo {
	width:98%;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	min-height:50px;
	float:left;
	padding:8px 5px;
	margin:0 5px 5px 5px;
}

div#taskstatus {
	border-bottom:1px solid #ccc;
	padding:4px;
	margin-bottom:5px;
}

div#taskclosed {
	padding:5px;
	margin:5px 5px 10px;
	clear:both;
	width:20em;
	background:white;
	border:solid 1px red;
}

div#taskdeps {
	float:left;
	width:50%;
	margin-bottom:8px;
}

div#taskblocks {
	float:left;
	width:45%;
}

div#actionbuttons {
	clear:both;
	padding:0 5px 5px;
}

a.button {
	background:url(button.png) repeat-x transparent;
	color:#fff !important;
	border:1px solid #000;
	margin:0 3px;
	padding:1px 5px;
}

a.button:hover {
	background:url(button-over.png);
}

div#massopsactions {
	padding:0 0 0 3px;
}

div.groupedit {
	background:url(kgpg_edit.png) no-repeat top left;
	padding-left:50px;
	height:64px;
}

div#closeform {
	margin-top:10px;
	width:300px;
	height:auto;
	padding-right:1em;
}

div#multiuserlist {
	width:28em;
	text-align:left;
}

div#multiuserlist select {
	width:26em;
}

div.popup {
	position:absolute;
	background-color:#e6eef6;
	color:#000;
	border:2px ridge #000;
	margin-top:5px;
	padding:5px;
}

div.denyform {
	visibility:hidden;
	position:absolute;
	right:12px;
	background-color:#e6eef6;
	color:#000;
	border:2px ridge #000;
	margin-top:5px;
	display:block;
	width:300px;
	height:auto;
	padding:5px 30px 5px 5px;
}

table#profile th {
	padding:0.1em 0.8em 0.1em 0.2em;
}

fieldset {
	margin:1em 0.5em;
	padding:0.5em 0.7em 0.5em;
	background-color:#e6eef6;
	color:#000;
	border:1px solid gray;
}

fieldset legend {
	border:1px solid #000;
	font:bold 110% Helvetica, Verdana, sans-serif;
	background:#587A99;
	color:white;
	margin:5px;
	padding:2px;
}

div.errpadding {
	padding:0.2em 0 0.2em 30px;
}

div.bar {
	width:100%;
	color:#FFF;
	font-weight:700;
	position:fixed !important;
	position:absolute;
	bottom:0;
	left:0;
	z-index:5;
}

div.error {
	background:red url(frown.png) no-repeat 5px 1px;
}

div.mixed {
	background:#FC0 url(frown.png) no-repeat 5px 1px;
}

div.success {
	background:green url(smile.png) no-repeat 5px 1px;
}

div#toolboxmenu {
	position:relative;
	float:left;
	padding-top:15px;
}

div#toolboxmenu a {
	display:block;
	border:1px solid #000;
	padding:1em 0;
	width:120px;
	text-align:center;
}

div#toolboxmenu a:hover {
	color:#6395c8;
	background-color:#d7e9ff;
}

div#toolbox {
	margin-left:150px;
	min-height:350px;
	height:1%;  /* Fix for IE bug */
}

a.grouptitle {
	font-size:1.4em;
}

div.tbuttons {
	background-color:#e6eef6;
	width:20em;
	margin:-11px 0 0 0.5em;
	border:solid 1px gray;
	border-top:solid 1px #e6eef6;
	padding:0 0 0 0.5em;
}

/* The new tabs stuff colors */
#submenu a,div.tab {
	color:#000;
	border:solid 1px gray;
	background-color:#e6eef6;
}

#submenu a {
	background-color:#EFEFEF;
}

#submenu a.active {
	color:#000;
	border-bottom-color:#e6eef6;
	background-color:#e6eef6;
	z-index:5;
}

#submenu a:hover {
	color:#000;
}

#submenu a {
	color:#999;
	text-decoration:none;
	display:inline;
	margin:0 0 0 1ex;
	padding:2px 1ex;
}

html #submenu {
	padding-top:1.5em;
}

div.tab {
	margin:2px 1ex 10px 0;
	padding:1ex 1ex 0;
}

/* flow */
#submenu li {
	display:inline;
	width:0;
	height:0;
}

* html .tab div.clear {
	clear:none;
	height:14em;
}

div#permissions {
	width:22em;
	visibility:hidden;
	position:absolute;
	top:25px !important;
	top:60px;
	left:0;
	margin:0;
	z-index:5;
	padding:5px;
}

div#permissions table {
	color:#000;
	background:#fff;
	border:1px dotted #000;
}

div#permissions table td,div#permissions table th {
	border:0;
	text-align:left;
	font-weight:400;
}

div#permissions table thead th {
	font-weight:700;
}

div#permissions table td.good,div#permissions table td.bad  {
	text-align:right;
}

div#fileupload {
	margin:20px 0;
}

div.pendingreq {
	border:solid 1px red;
	background:url(em.png) white no-repeat 3px 50%;
	margin:0.5em 0 0 0px;
	padding:3px 3px 3px 23px;
}

a.pendingreq, span#locked {
	color:red;
	background:url(em.png) no-repeat 6px !important;
}

span#locked {
	padding-left:2em;
	font-weight:bold;
}

/* container for the next/previous links in the task details */
span#navigation {
	position:absolute;
	right:1.5em;
	padding-top:0.1em;
}

span#navigation a#next {
	padding-right:20px;
	background:url(next.png) no-repeat right;
}

span#navigation a#prev {
	padding-left:20px;
	background:url(prev.png) no-repeat left;
}

div.attachments {
	display:block;
	padding:5px 15px 5px 35px;
	background:#BBE0EB url(attachment-big.png) no-repeat 0 -10px;
	border:dotted 1px gray;
	width:22em;
	margin:0 0 0.5em 0.6em;
}

table.attachments {
	margin:0 0 0.5em 0.1em;
	background:#BBE0EB url(attachment-big.png) no-repeat 0 -10px;
	border:dotted 1px gray;
}

table.attachments th {
	text-align:center;
	padding:0 0.3em;
}

table.attachments td {
	padding:0 0.3em;
	vertical-align:middle;
}

div#error {
	background-color:#feffc2;
	color:#000;
	font-size:150%;
	border:2px solid red;
	margin:30px;
	padding:10px;
}

.ttcolumn {
	width:10px;
	text-align:center;
}

.ttcolumn input {
	margin:0;
}

.date {
	color:#47617b;
	background-color:#eef7ff;
	font-weight:700;
	border:1px solid gray;
	font-size:100%;
	white-space:nowrap;
	padding:1px 5px 0;
	cursor:pointer;
}

.date:hover {
	color:#6395c8;
	background-color:#eef7ff;
	font-weight:700;
	cursor:pointer;
}

a.datelink {
	margin-right:0.2em;
}

a.datelink img {
	vertical-align:middle;
}

html,p.unregistered,#submenu,#submenu * {
	margin:0;
	padding:0;
}

a:link,a:visited {
	color:#47617b;
	background-color:transparent;
	font-weight:700;
}

a:hover {
	color:#6395c8;
	background-color:transparent;
	text-decoration:none;
}

div#toolboxmenu small {
	display:none;
}

td,th {
	vertical-align:top;
}

img.middle {
	vertical-align:middle;
}

.inline,table.list label,p.box label,form#formaddrelatedtask label {
	display:inline !important;
}

form#formaddrelatedtask {
	padding:0.2em;
}

div#menu p,div#search p {
	margin:0;
	padding:0;
}

td.taskid,th.taskid,td.taskid {
	text-align:center;
	padding:2px 1ex;
}

p#footer a:link,p#footer a:visited,p#footer a:hover {
	color:#fff;
	background-color:transparent;
}

div#closeform textarea,div#denyform textarea {
	height:100px;
}

table.requests {
	border-spacing:0;
	border-collapse:collapse;
	border:solid 1px gray;
	width:95%;
	margin:0.5em;
}

table.requests th {
	border-left:1px solid gray;
}

table.requests td {
	border:solid 1px gray;
	padding:0.2em 0.5em;
}

tr.current_row td.caret {
	background:url(caret.gif) no-repeat 3px !important;
}

td.caret {
	width:15px;
	padding:0 !important;
}

pre.code {
	border:dotted 1px gray;
	background:url(klipper_dock.png) 97% 1% #FBFDFE no-repeat;
	padding:0.8em;
	margin:1em;
	overflow:auto;
	max-height:30em;
}

.good {
	color:green;
}

.bad {
	color:red;
}

div.roadmap {
	padding-left:1em;
}

dl.roadmap dd {
	border:dotted 1px gray;
	background:#FEF9FD;
	margin:-0.5em 1em 0 2em;
	padding:0.5em 0.5em;
	display:none;
}

dl.roadmap dt {
	border:solid 1px gray;
	margin:1em 3em 0 0;
	padding:0.1em 0.5em;
	position:relative;
}

h3.taskdesc {
	top:-1.8em;
	font-size:1.2em;
	position:relative;
	margin:0 0.2em;
}

div.comment {
	padding:0.5em;
}

fieldset#events div#tasklist {
	margin-top:1em;
}

div#updatemsg {
	background-color:#feffc2;
	color:#000;
	border:2px solid red;
	margin:0 0 10px;
	padding:5px;
	font-weight:bold;
}

/* Dokuwiki {{{ */
.code a {
	text-decoration:none;
}

div#taskdetailstext h1,.commenttext h1 {
	border-bottom:dotted 1px black;
}

div#taskdetailstext h2, .commenttext h2 {
	border-bottom:dotted 1px black;
	padding-left:0.2em;
	margin:1em 0.5em 0.5em;
}

div#taskdetailstext h3, .commenttext h3 {
	padding-left:0.2em;
	margin:1em 1.5em 0;
}


div#taskdetailstext h4, div.preview h4, .commenttext h4,div.preview h5,div#taskdetailstext h5, .commenttext h5 {
	font-size:1em;
	padding-left:0.3em;
	margin:1em 2.5em 0;
}

div.level2 {
	margin-left:1em;
}

div.level3 {
	margin-left:2em;
}

div.level4,div.level5 {
	margin-left:3em;
}

/* inline tables */
table.inline {
	display:table !important;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.inline th {
	padding: 3px;
	border: 1px solid #8cacbb;
	background-color: #dee7ec;
}

table.inline td {
	padding: 3px;
	border: 1px solid #8cacbb;
	background:#ffffff;
}

.leftalign{
	text-align:left;
}

.centeralign{
	text-align:center;
}

.rightalign{
	text-align:right;
}

.interwiki,.urlextern {
	padding-left:17px;
	background:url(link_icon.gif) no-repeat;
}

.urlextern {
	background-image:url(link_icon.gif);
}

.fn_top {
	font-size:0.8em;
	vertical-align:top;
}

.footnotes {
	font-size:0.8em;
	border-top:solid 1px #ccc;
}

blockquote {
	border:dotted 1px gray;
	border-left: 2px solid #8cacbb;
	padding:0 3px 0 0.3em;
	margin-left: 0.5em;
	background:white;
}

blockquote p  {
	padding:0;
}

blockquote blockquote {
	border:0;
	border-left: 2px solid #8cacbb;
}

.search_hit {
	background:#FF9;
}

.fade {
	color:gray;
}

.code .br0 {color:#6c6;}
.code .es0 {color:#009;font-weight:700;}
.code .kw1 {color:#b1b100;}
.code .kw2 {color:#000;font-weight:700;}
.code .kw3 {color:#006;}
.code .kw4 {color:#933;}
.code .me0 {color:#060;}
.code .nu0 {color:#c6c;}
.code .re4 {color:#099;}
.code .sc0 {color:#0bd;}
.code .sc1 {color:#db0;}
.code .sc2 {color:#090;}
.code .st0 {color:red;}
.code .co1,.code .co2,.code .coMULTI {color:gray;font-style:italic;}
.code .kw5,.code .re0,.code .re1,.code .re2 {color:#00f;}

.acronym {cursor:help;}
em.u {text-decoration:underline;font-style:normal}
/* }}} */
/* Stuff for the autocomplete lists {{{ */

span.autocomplete {
	position: absolute;
	width: auto !important;
	background-color:#eef7ff;
	color:#03008f;
	border:1px solid gray;
	padding: 0px;
	margin:-1px 0 0;
	text-align:left;
	display:block;
}

span.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

span.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding:2px 4px;
	height: 1.1em;
	white-space:nowrap;
}

span.autocomplete ul li span.informal {
	color:gray;
	font-size:0.9em;
}

span.autocomplete ul li.selected {
	background-color:highlight;
	cursor:pointer;
	color:HighlightText;
}


/* }}} */

#controlBox {
	border : 1px solid gray;
	padding : 1px;
	background : #fff;
	width : auto !important;
	width : 90px;
	display : table;
	position:absolute;
}
#controlBox div.grip {
	background : #ccc;
	cursor : move;
	height : 12px;
}
#controlBox div.inner {
	padding : 5px 5px 4px 5px;
	white-space : nowrap;
	opacity : .2;
}
#controlBox.active div.inner {
	opacity : 1;
}

table.list {
	border-collapse:collapse;
}

table.list tr.active {
	background:url(active_border.png) repeat-y left white;
}

table.list tr.active td.first {
	padding-left:0.5em;
}
