body {
	font:12pt Helvetica, Verdana, sans-serif;
}

h1 {
	margin:0.5em 0;
}

div#menu,div#loginbox,
div#projectselector,div#showtask,
div#search,div#comments a img,
input,div#permissions,
select,div#permslink,div#massopsactions,
td#taskrange a,span#navigation,
div#deps form,div#actionbuttons,
div#comments form,td#numbers a,
td#numbers strong,ul#submenu,
.DoNotPrint,div#events form,
#anonopen, .ttcolumn, .attachments {
	display:none !important;
}

table#tasklist_table {
	border-collapse:collapse;
	width:100%;
}

a {
	color:#000;
	text-decoration:none;
}

p.comment a:after {
	content:" (" attr(href) ") ";
}

table#tasklist_table thead th {
	border:solid 1px #000;
}

table#pagenumbers td#numbers {
	text-align:right;
	padding:0 5px 0 0;
}

p.comment {
	margin-left:1em;
	border-left:2px solid #000;
	padding:0.5em 1em;
}

p#footer {
	text-align:center;
	margin:2em 0 0;
}

div#taskdetailsfull {
	border:1px dotted gray;
	border-width:1px 0;
	margin:1em 0;
	padding:0.5em;
}

div#taskdetailsfull label {
	display:block;
	font-weight:700;
	font-size:1.2em;
	margin-bottom:0.7em;
}

div#fineprint {
	font-size:0.7em;
	margin-bottom:0.5em;
}

div#taskdetails h2 {
	margin-bottom:0;
}

div#comments {
	margin-top:0.8em;
	padding-top:0.5em;
	border-top:1px dotted #000;
	page-break-inside:auto;
}

div#taskfields1 table td,div#taskfields2 table td {
	width:50%;
}

table#pagenumbers,div#taskfields1 table,div#taskfields2 table {
	width:100%;
}

table#tasklist_table td {
	border:dotted 1px gray;
	padding:0.1em 0.2em;
}
