body {
  margin:0; padding:0;
  font-family: Verdana, sans-serif;
  font-size:13px;
}

#header {
  background-color:#47617B; 
  margin:0; padding:0; 
}
#logo {
  background-image:url(../images/title.png);
  background-position: 20px 10px;
  background-repeat: no-repeat;
  background-attachment:scroll;
}
#logo h1 {
  padding:0; margin:0;
  font-size:2em; line-height: 90px;
}
#logo h1 a {
  display: block;
  height: 90px;
  text-decoration: none; color:#3AFF53;
  border: 0; padding: 0; margin: 0 auto;
  padding-left:260px;
}
#content {max-width:800px;margin-left:auto;margin-right:auto;}
#footer {
  background-color: #688EB4;
  padding: 5px;
  margin:0;
  border-top: 2px solid #47617B;
  text-align: right;
}



#stepbar div {
  box-sizing:border-box;
  height:36px;
  font-weight: bold;
  padding: 10px;
  background-color:#ddd;
  margin-right:10px;
  display:inline-block;
  position:relative; /* for the :after rightarrow */
}

#stepbar .step-on {
  color: #3AFF53;
  background-color: #47617B;
}
#stepbar .done { background-color: #999;color:#000;}
/* css arrow to right */
#stepbar div:after{
  position:absolute;
  content:"";
  right:-10px;
  width:0;
  height:0;
  top:0;
  border-top:18px solid transparent;
  border-bottom:18px solid transparent;
  border-left:8px solid #ddd;
}
#stepbar .step-on:after{border-left-color:#3AFF53;}
#stepbar .done:after{border-left-color:#999;}

.install {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  padding: 10px;
  border: 1px solid #688EB4;
  max-width: 700px;
  background-color: #F1F3F5;
}

.formBlock {
  border: 1px solid #688EB4;
  padding:5px;
  margin:5px;
  background: #E9ECEF;
  color:#000;
}
.farRight {
  width:auto; text-align:right;
}

a {
  color : #998900;
  text-decoration : none;
}
a:hover {
  color : #999999;
  text-decoration : underline;
}
a:active {
  color : #FF6600;
  text-decoration : underline;
}

.error {
  color : #c00;
  font-weight : bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.red {
  color:#F00;
}
.orange {
  color:#FFA500;
}
.green {
  color:#078843;
}

.install h1 {
  color:#47617B;
  text-align:center;
}
.install h2 {
  color:#688EB4;
}

h1.error {
  background-image: url(../images/exclamation.png);
  border:none;
  text-indent: 45px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align:left;
}

.box {
  border: 5px solid #688EB4;
  padding:0;
  margin:0;
  background-color: #F1F3F5;
}
