#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox #imageContainer img{ width: auto; height: auto; max-width:100%;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; display:inline-block; max-width:100%; background-color: #fff; /*width: 250px; height: 250px;*/ margin: 0 auto; }
#imageContainer{ padding: 10px; }
@media only screen and (max-width: 480px) and (orientation: portrait) {
  #imageContainer{ padding: 2px; }
}

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; margin: 0 auto; overflow: auto; width: 100%; min-width:250px;}

#imageData{	padding:0 10px; color: #666; position:relative; display:inline-block;min-width:300px;min-height:30px; background-color:#fff;text-align:left;}
#imageData #imageDetails{ display:inline-block; text-align: left; }	
#imageData #caption{ font-weight: bold;	display:inline-block;max-width:230px;}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #bottomNav {right: 10px;top:0; position: absolute;}
#imageData #bottomNavClose{ display:inline-block; width: 66px; padding-bottom: 0; outline: none;}	 	

#overlay{ position: fixed; top: 0; left: 0; z-index: 90; width: 100%; height: 100%; background-color: #000; }
